@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
.lista-viagem{
    overflow: hidden;
  text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border: 1px solid blue;
    margin-top: 2%;
    margin-left: 2%;
    background-color:lightblue;
    width: 28vw;
    
}
.body{
    background-color: hsl(0, 0%, 90%);
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;    
    margin-top: 2%;
}
.astronauta{
    width: 50%;
    border-radius: 100%;
}

/*---------------------homePage------------*/
.botao{
    margin-top: 2%;
    padding: 2%;
    border-radius: 20px;
    width: 30%;
}
.botao:hover{
    cursor: pointer;
    background-color:lightblue;
}
.labex{
    text-align: center;
    margin: 0%;
}

/*---------------------Login------------*/
.corpo{
    background-color: hsl(0, 0%, 90%);
    height: 100vh;
}
.centralizar{
margin: auto;   
width: 400px;
padding-top: 10%;

}
.card{
    border: 1px solid black;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}
.card input{
    width: 80%;
    height: 10%;
    padding: 1%;
}
.card button{
    width: 40%;
    padding:1%;
    cursor: pointer;
}
.enviar-login:hover{
    background-color:lightblue;
}
.voltar{
    width: 3%;
    border-radius: 100%;
    cursor: pointer;
    padding:0.5%
}
.voltar:hover{
    opacity: 0.5;
}

/*---------------------Adm page------------*/
.corpo-adm{
    background-color: hsl(0, 0%, 90%);
    height: 100%;
}
.tamanho{
    height: 100vh;
}
.separar-adm{
    text-align: center;
}
.separa-botoes{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-evenly;
}
.separa-botoes button{
    width: 30%;
    padding: 2%;
}
.separa-botoes button:hover{
    cursor: pointer;
    background-color: lightblue;
}
.Container{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    cursor: pointer;
    
}
.Container:hover{
    background-color: lightblue;
    
}
.Container button{
    width: 20%;
    background-color: white;
    cursor: pointer;
}
.Container button:hover{
    background-color: blue;
}
.viagens-disp{
    text-align: center;
    margin-top: 3%;
}

/*---------------------aplicar page------------*/
.dividir-inputs{
    text-align: center;
    margin-top: 0%;
    border: 1px solid black;
    margin-right: 20%;
    margin-left: 20%;
    padding: 2%;
    height: 70vh;
    background-color: white;
    border-radius: 2%;
}
.dividir-inputs form{
    margin-top: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10%;
    
}
form input{
    padding: 1%;
}
.botao-aplicar{
    background-color:lightblue;
    width: 30%;
    justify-self: center;
    cursor: pointer;
}
.botao-aplicar:hover{
    background-color: lightcoral;
}
.bodyy{
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}

/*---------------------detalhes viagem page------------*/

.imagem-astronauta{
    width: 30%;
    height: 40vh;
    border-radius: 50%;
    align-self: center;
}
.container-candidatos{
    margin-top:2%;
    margin-left: 15%;
    background-color: lightblue;
    padding: 2%;
    display: flex;
    width: 60%;
    border: 1px solid blue;
}
.separar-texto{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.separar-texto button{
    margin-top: 2%;
    width: 30%;
    padding: 2%;
    cursor: pointer;
}
.separar-texto button:hover{
    background-color: skyblue;
}
.body h1{
    text-align: center;
    margin-top: 1%;
}
.paragrafo{
    margin-top: 2%;
    text-align: center;
}
.body2{
    height: 100%;
}

/*---------------------create trip page------------*/
.body-create{
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}
.alinhar{
    height: 65vh;
    background-color: white;
    text-align: center;
    margin-top: 1%;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
form {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10%;
}
form button{
    background-color: skyblue;
    width: 30%;
    justify-self: center;
    cursor: pointer;
}
form button:hover{
    background-color: slateblue;
}
/*---------------------Home page------------*/
.Body {
    background-color: hsl(0, 0%, 90%);
    margin-top: 0%;
    height: 100vh;
}
.Separar {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ImagemBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Imagem {
    width: 70%;
    height: 70vh;
    border-radius: 100%;
}





/*---------------------media query------------*/

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .Separar {
        margin-top: 2%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 2%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Body{
        height: 110vh;
    }
    .Imagem{
        height: 40vh;
    }
    .voltar{
        width: 8%;
    }
    /*---------------------Lista de viagem------------*/
    .container{
        display: grid;
        grid-template-columns: 1fr  ;    
        margin-top: 2%;
    }
    .lista-viagem{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2%;
        margin-left: 3%;
        width: 90vw;
        
    }
    .body{
        height: 100%;
        background-color: hsl(0, 0%, 90%);
    }
    .listaViagem{
        height: 200vh;
        background-color: hsl(0, 0%, 90%);
    }
    /*---------------------aplicar page------------*/
    .dividir-inputs{
        width: 95%;
        height: 60vh;
        margin-left: 0%;
        margin-top: 0%;
    }
    /*---------------------Login------------*/
    .card{
        width: 80%;
        margin-left: 5%;
    }
    .corpo{
        background-color: hsl(0, 0%, 90%);
        height: 100%;
    }
    /*---------------------Adm page------------*/
    .separa-botoes button{
      
    }
    .Container{
        width: 95%;   
        height: 10%;
        margin-left: 1%; 
       align-items: center;
    }
    /*---------------------create trip page------------*/
    .alinhar{
       width: 96%;
       margin-left: 1%;
       height: 50vh;
       
    }
    
/*---------------------detalhes viagem page------------*/
.imagem-astronauta{
    width: 50%;
    height: 20vh;
    border-radius: 50%;
    align-self: center ;
}
.container-candidatos{
    margin-top:2%;
    margin-left:0%;
    background-color: lightblue;
    padding: 0%;
    display: flex;
    width: 95%;
    height: 50vh;
    border: 1px solid blue;
    margin-left: 1%;
    
}
.separar-texto{
    display: flex;
    flex-direction: column;
    justify-self: space-evenly;
    padding: 0%;
    width: 60%;
    height: 100%;
}
.separar-texto button{
    width: 80%;
    height: 24px;
    padding: 1%;
}
}
